*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #a9c7e0;
}
nav{
    width: 100%;
    height: 100px;
    background-color: #82b1d7;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#logo{
    width: 80px;
    height: 80px;
}
.input{
    display: flex;
}
input{
    width: 450px;
    height: 40px;
    font-size: 20px;
}
i{
    background-color: rgb(54, 54, 41);
    color: white;
    padding: 12px;
    margin-left: -30px;
    border-radius: 7px;
}
#cart{
    display: flex;
    padding: 0px 50px;
    width: 30px;
    height: 35px;
}
#cart img{
    padding-left: 10px;
    
}
#cart img:hover{
    cursor: pointer;
}

/* home  */
.home{
    display: grid;
    grid-template-columns: 20% 75%;
    margin: 30px 0;
    justify-content: space-evenly;
}
.categories{
    background-color: aliceblue;
    border: 1px solid wheat;
    padding: 15px;
}
.categories h2{
    background-color: #82b1d7;
    color: white;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.categories li{
    list-style-type: none;
    padding: 8px 0;
    padding-left: 20px;
}
.categories li a{
    text-decoration: none;
    color: black;
}
.categories li:hover{
    background-color: #82b1d7;
    color: white;
}
.categories li a:hover{
    color: white;
}

/* background-img  */

.background-img img{
    width: 60%;
    height: 100%;
}
.background-img{
    background-image: linear-gradient(rgba(0,0,0,0.43), rgba(0,0,0,0.438)), url(./images/ímgeback.jpg);
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.background-img h2{
    z-index: 2;
    text-align: center;
    font-size: 28px;
}

/* smart phones  */
#mob-headinng{
    margin-top: 60px;
    margin-bottom: 10px;
    padding: 10px 20px;
}
.mobiles{
    display: grid;
    grid-template-columns:  14% 14% 14% 14% 14% 14% ;
    justify-content: space-around;
}
.mobiles div{
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(187, 203, 219);
    border: 1px solid gainsboro;
    text-align: center;
    margin: 10px 0;
}
.mobiles div img{
    height: 150px;
    width: 150px;
    border-radius: 5px;
    margin: 10px;
    background-color: transparent;
}
.mobiles span p{
    padding: 3px;
    font-size: small;
}
.mobiles span p:first-child{
    font-weight: bold;
}

/* laptop sec ? */
#laptop-heading{
    margin-top: 68px;
    margin-bottom: 10px;
    padding: 10px 20px;
}
.laptops{
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    justify-content: space-around;
}
.laptops div{
    background-color: #cBe;
    border: 1px solid #cBe;
    text-align: center;
}
.laptops div img{
    width: 160px;
    height: 180px;
    border-radius: 5px;
    margin: 15px;
    margin-bottom: 5px;
    background-color: transparent;    
}
.notify{
    background-color: black;
    color: white;
    width: 90px;
    height: 40px;
    padding: 0;
    margin-top: 10px;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.notify p{
    padding-top: 10px;
    font-size: small;
}
.laptops h4{
    padding-top: 5px;
    padding-bottom: 15px;
}

#watches-heading{
    margin-top: 80px;
    margin-left: 10px;
    padding: 10px 20px;
}
.smart-watches{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
}
.smart-watches div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #91b9d3;
    width: 400px;
    height: 200px;
    margin-bottom: 20px;
    padding: 10px 58px;
    box-shadow: rgba(0, 0, 0, 0.43) 0px 5px 10px;

}
.smart-watches div img{
    width: 200px;
    height: 190px;
}
.smart-watches p{
    font-weight: bold;
    font-size: 18px;
    color: #095384;
}

/* footer  */
footer{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    background-color: #91b5d3;
}
footer img{
    width: 50px;
    height: 30px;
    padding: 10px;

}
.all-right{
    text-align: center;
    background-color: #91b5d3;
    padding-top: 10px;
    padding-bottom: 20px;
    color: rgb(69, 67, 67);
}


/* for small screen  */
@media(max-width: 1000px){
    nav{
        height: 88px;
    }
    #logo{
        width: 100px;
        height: 100px;
    }
    i{
        margin-left: -20px;
        padding: 7px;
    }
    #cart{
        padding: 0 20px;
        width: 20px;
        height: 20px;
    }
    #cart img{
        padding-left: 7px;
    }
    .background-img h2{
        font-size: 18px;
    }
    .background-img img{
        width: 60%;
    }

    /* mobile ? */
    #mob-headinng{
        margin-top: 88px;
        margin-bottom: 10px;
        padding: 10px 20px;
    }
    .mobiles{
        grid-template-columns: 30% 30% 30%;
        justify-content: space-around;
    }
    .mobiles div{
        margin: 30px 0;
        height: 100%;
        margin-bottom: 0px;
        border: 10px solid #a9c7e0;
    }
    .mobiles div img{
        height: 88%;
        width: 90%;
    }
    .mobiles span p{
        font-size: medium;
    }

    /* laptops  */
    .laptops{
        display: grid;
        grid-template-columns: 40% 40%;
        justify-content: space-around;
    }
    .laptops div{
        margin-bottom: 10px;
    }
    .laptops div img{
        height: 170px;
        width: 180px;
        border-radius: 5px;
        margin: 10px;
        margin-bottom: 5px;
        background-color: transparent;
    }

    .smart-watches{
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: space-around;
    }
    .smart-watches div{
        display: grid;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        height: 85%;
        padding: 10px 10px;
    }
    .smart-watches div img{
        text-align: center;
        font-size: 15px;
    }


}


@media(max-width: 400px){
    nav{
        height: 60px;
    }
    #logo{
        height: 40px;
        width: 40px;
    }
    input{
        width: 170px;
        height: 25px;
    }
    i{
        background-color: transparent;
        color: black;
        padding-top: 4px;
        margin-left: -33px;
    }
    #cart{
        padding: 0 15px;
        width: 15px;
        height: 15px;
    }
    #cart img{
        padding-left: 5px;
    }
    /* home   */
    .home{
        margin: 20px 0;
        margin-left: 1px;
    }
    .categories{
        padding: 5px;
        height: 75px;
    }
    .categories h2{
        font-size: 7px;
        padding: 2px;
        margin-top: 2px;
    }
    .categories li{
        padding: 2px 0;
        font-size: 1vh;
    }

    .background-img{
        background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(./images/ímgeback.jpg
        );
        background-size: cover;
    }
    .background-img h2{
        font-size: 15px;
    }
    .background-img img{
        width: 60%;
    }

    /* mobiles ? */
    #mob-headinng{
        margin-top: 30px;
        margin-bottom: 0px;
        padding: 0px 20px;
        font-size: 2.5vh;
    }
    .mobiles{
        grid-template-columns: 50% 50%;
        justify-content: space-around;
    }

    /* laptops  */
    #laptop-heading{
        margin-top: 30px;
        margin-bottom: 0px;
        padding: 20px 20px;
        font-size: 2.5vh;
    }
    .laptops{
        display: grid;
        grid-template-columns: 88%;
        justify-content: space-around;
    }
    .laptops .notify{
        width: 40px;
        height: 20px;
    }
    .laptops .notify p{
        padding-top: 3px;
        font-size: 2vh;
    }
    .laptops h4{
        font-size: 2vh;
        padding-top: 3px;
        padding-bottom: 10px;
    }

    /* smarts watchs  */
    #watches-heading{
        margin-top: 30px;
        margin-bottom: 0px;
        padding: 20px 20px;
        font-size: 2.5vh;
    }
    .smart-watches{
        display: grid;
        grid-template-columns: 80%;
        justify-content: space-around;
    }
    .smart-watches div{
        display: grid;
        justify-content: center;
        align-items: center;
        width: 260px;
        height: 250px;
        margin-bottom: 10px;
        padding: 0 10px;
    }
    .smart-watches div img{
        width: 150px;
        height: 150px;
    }
    .smart-watches div p{
        font-size: 2vh;
    }

    footer{
        margin-top: 50px;
    }
    footer img{
        width: 20px;
        height: 16px;
        padding: 6px;
    }
    .all-right{
        font-size: 2vh;
        padding-top: 5px;
        padding-bottom: 10px;
    }
    
}

